
:host{

  position:relative;
  display:inline-block;
  margin:0;

  input{
    padding-right:1.75em;
  }

  span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .75em;
    font-size:.7em;
    &.u-supre-icon--delete-x{
      cursor:pointer;
    }
  }

}
